/* common shared style */
body{
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.primary-button{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
    margin-right: 15px; 
}

.section-title{
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

main section{
    margin-top: 130px;
}

/* navbar style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px 0px 150px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    margin-right: 50px;
    color: #474747;
   
}

/* header style */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 500px;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner-content{
    max-width: 500px;
}

.banner .profile-picture{
    width: 300px;
    
}

.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
    color: #474747;
}

.banner-title{
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
}

.banner-description{
    margin-bottom: 15px;
    
}


/* main part styles */

main{
    max-width: 1100px;
    margin: 0 auto;
}

/* aboout section styles */

.about{
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

.about-info-title{
    margin-bottom: 0px;
}

/* What is do sections */

.about-info-description{
    margin-top:4px;
}

#about-info-description{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-description{
    color: #757575;
}

/* Resume sections */