/* common shared style */
body{
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.primary-button{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
    
}

/* navbar style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    margin-right: 50px;
    color: #474747;
   
}

